<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="org.fipro.eclipse.migration.target" sequenceNumber="0">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/releases/2019-03"/>
			<unit id="org.eclipse.rcp.sdk.id" version="4.11.0.I20190307-0500"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.300.v20190213-1655"/>
			<unit id="org.eclipse.jdt.feature.group" version="3.17.0.v20190307-0500"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.e4.tools.spies.feature.feature.group" version="0.18.0.v20190227-1016"/>
			<repository location="https://download.eclipse.org/e4/snapshots/org.eclipse.e4.tools/latest/"/>
		</location>
	</locations>
</target>